<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        Post Title
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        {{#each posts as |post|}}
            {{> post-info post}}
        {{/each}}
    </a>
</div>